@model Course;
@{
    ViewData["Title"] = "Details";
}
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>courses details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:60px;">
    <div class="row">
        <div class="col-md-8">
            <div class="courses-details">
                <div class="courses-details-img">
                    <img src="~/img/course/@Model.Image"style="width:100%;">
                </div>
                <div class="course-details-content">
                    <h2>@Model.Name</h2>
                    <p> @Model.CourseDetail.Description </p>
                    <div class="course-details-left">
                        <div class="single-course-left">
                            <h3>about course</h3>
                            <p>@Model.CourseDetail.ApplyTitle</p>
                        </div>
                        <div class="single-course-left">
                            <h3>how to apply</h3>
                            <p>@Model.CourseDetail.ApplyTitle</p>
                        </div>
                        <div class="single-course-left">
                            <h3>certification</h3>
                            <p class="margin">@Model.CourseDetail.CertificationTitle</p>

                        </div>
                    </div>
                    <div class="course-details-right">
                        <h3>COURSE FEATURES</h3>
                        <ul>
                            <li>starts <span>@Model.CourseDetail.Start</span></li>
                            <li>duration <span>@Model.CourseDetail.Duration</span></li>
                            <li>class duration <span>@Model.CourseDetail.ClassDuration</span></li>
                            <li>skill level <span>@Model.CourseDetail.Skilllevel</span></li>
                            <li>language <span>@Model.CourseDetail.Language</span></li>
                            <li>students <span>@Model.CourseDetail.Students</span></li>
                            <li>assesments <span>@Model.CourseDetail.Assesments</span></li>
                        </ul>
                        <h3 class="red">course fee $@Model.CourseDetail.Fee</h3>
                    </div>
                </div>
                <div class="reply-area">
                    <h3>LEAVE A REPLY</h3>
                    <p>I must explain to you how all this a mistaken idea of ncing great explorer of the rut<br> the is lder of human happinescias unde omnis iste natus error sit volptatem </p>
                    <form id="contact-form" action="http://demo.devitems.com/eduhome/mail.php" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Name</p>
                                <input type="text" name="name" id="name">
                            </div>
                            <div class="col-md-12">
                                <p>Email</p>
                                <input type="text" name="email" id="email">
                            </div>
                            <div class="col-md-12">
                                <p>Subject</p>
                                <input type="text" name="subject" id="subject">
                                <p>Massage</p>
                                <textarea name="message" id="message" cols="15" rows="10"></textarea>
                            </div>
                        </div>
                        <a class="reply-btn" href="#" data-text="send"><span>send message</span></a>
                        <p class="form-messege"></p>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
